*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --golden: #facc15;
  --golderDark: #eab308;
  --white: white;
  --whiteDim: rgba(255, 255, 255, 0.815);
  --gray: #262626;
}
html {
  font-size: 10px;
}
/* ----------------general declarations ------------- */
section {
  height: 100vh;
}

a {
  color: inherit;
}
/* ----------------general declarations ends  ------------- */

/* ---------------- hero sections  starts ------------- */
/* ---------------- mobile navbar list  starts  ------------- */
.mobile_navlist {
  display: none;
  list-style: none;
  position: absolute;
  left: 0rem;
  width: 30%;
  /* background-image: linear-gradient(
    to right bottom,
    rgba(41, 37, 36, 0.91),
    hsla(0, 0%, 32%, 0.9)
  ); */
  background-color: var(--white);
  color: var(--gray);
}
.mobile_navlist li {
}
.mobile_navlist li a {
}

.hero {
  position: relative;
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 32%, 0.863),
      rgba(41, 37, 36, 0.837)
    ),
    url("./images/sofa_red.jpg");
  /* background-image: linear-gradient(to right bottom, #064e3bb2, #0478574e),
    url("./images/sofa_red.jpg"); */
  opacity: 1;
  background-position: center;
  background-size: cover;
}
.hero .navbar {
  padding: 3rem 2rem;

  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}
.navbar .humburger {
  flex-basis: 10%;
  display: flex;
  flex-flow: column;
  gap: 4px;
}
.humburger .bar {
  background-color: var(--white);
  height: 1px;
  border-radius: 50%;
}
.humburger .bar_1 {
  width: 0.8rem;
}
.humburger .bar_2 {
  width: 1.4rem;
}
.humburger .bar_3 {
  width: 1.1rem;
}

.logo_div {
  text-transform: capitalize;
  margin-left: -2rem;
  font-weight: lighter;
}
.btn_lang {
  background-color: transparent;
  border: none;
  color: var(--golden);
  /* text-decoration: underline; */
  text-transform: capitalize;
  border: solid thin var(--golden);
  padding: 0.1rem 0.6rem;
}

/* ---------------- hero main starts ------------- */
.hero_main {
  margin: 7rem auto auto;
  padding-left: 3rem;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}
.hero_main .hero_text-name {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 100;
  color: var(--whiteDim);
}
.hero_main .hero_text-bold {
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--golden);
}

.hero_main .hero_text-ligther {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5em;
  color: var(--whiteDim);
}
.hero_main .btn_hero {
  margin: 2.4rem auto auto 0%;
  width: 90%;
  padding: 1rem 1.4rem;
  border: none;
  background-color: var(--golden);
  color: var(--gray);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.hero .hero_image {
  position: absolute;
  bottom: 0rem;
  right: 5%;
  transform: translateY(70%);
  height: 14rem;
  width: 70%;
}

/*  -------------  about section starts ------------ */
.about {
  margin-top: 12rem;
  padding: 1.4rem;
  background-color: var(--whiteDim);
}
.about .section_title {
  text-transform: capitalize;
  color: var(--golderDark);
  letter-spacing: 0.4rem;
}
