/*  -------------  about section starts ------------ */
.about {
  margin-top: 12rem;
  padding: 1.4rem;
  background-color: var(--whiteDim);

  .section_title {
    text-transform: capitalize;
    color: var(--golderDark);
    letter-spacing: 0.4rem;
  }
}
