*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --golden: #facc15;
  --golderDark: #eab308;
  --white: white;
  --whiteDim: rgba(255, 255, 255, 0.815);
  --gray: #262626;
}
html {
  font-size: 10px;
}
/* ----------------general declarations ------------- */
section {
  height: 100vh;
}

a {
  color: inherit;
}
/* ----------------general declarations ends  ------------- */
